@charset "UTF-8";

body {
	line-height: 1.5;
	font-size: 0.875rem;
}

button,
input[type="text"] {
	font-size: 0.875rem;
}

input[type="submit"] {
	font-size: 1rem;
}

p,
table {
	margin: 1em;
}

section {
	margin-bottom: 30px;
}

table,
table th,
table td {
	border-style: solid;
	border-color: #4d4d4d;
}

table {
	border-collapse: collapse;
	border-width: 1px 0 0 1px;
}

table th,
table td {
	padding: 10px;
	border-width: 0 1px 1px 0;
}

table thead th {
	background-color: #0076BF;
	color: #fff;
}

table tbody th {
	background-color: #efefef;
}

form input[type="text"] {
	width: 300px;
}
